#logviewer_configuration_form {
    padding-bottom: 80px;

    fieldset {
        background-color: #fafbfc;
        border: 1px solid #dbe6e9;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding-right: 1rem;
    }

    fieldset > {
        label:first-child {
            background-color: #fafbfc!important;
            border-bottom: 1px solid #dbe6e9;
            border-radius: 5px 5px 0 0;
        }
    }

    .input-group-append {
        width: 50%;
        margin-right: 0;
    }

    .form-group > {
        .card-header {
            background-color: white;
            margin-bottom: 2rem;
        }

        .alert {
            :not(.alert-unavailable) {
                max-width: 47.65rem
            }
        }

        .help-box {
            margin-top: .6rem
        }

        .title {
            margin-bottom: 1.25rem
        }

    }

    .hide {
        display: none
    }

}

#configuration_form_Logviewer_History_Days {
    max-width: 5rem;
}